.main{
    justify-content: center;
    align-items:center;
    text-align: center;
    padding: auto;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
}
#button-addon2:hover{
    background-color: green;
}
.main.active .mb-3 input.form-control:focus {
    /* Change border color to green when input is active */
   border: 2px solid green;
  }
 
  