*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.app-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qr-code-image{
    padding: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    
}
.input-label{
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-size: 15px;
    font-weight: 500;
}
input[type='text' ] {
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    border: 2px solid #3498db;
    border-radius: 5px;
}
button{
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.generate-button{
    background-color: #3498db;
}
.download-button{
    background-color: #27ae60;
    margin-left: 20px;
}
.generate-button:disabled{
    background-color: #bdc3c7;
    cursor: not-allowed;
}
.download-button:hover{
    background-color:red;
}
.generate-button:hover{
    background-color: orange;
}
.app-container h1{
    font-weight: 600;
    font-size: 18px;
    color: #3498db;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}
.app-container p{
    color: #3498db;
    /* font-size: 20px;
    border: 1px solid;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 7px; */
    margin-top: 30px;

}